body{ margin:0px; padding:0px; font-size:12px; color:#333333; background-color:#FFFFFF; line-height:170%; font-family:"ו",arial; color:#666; font-size:12px;}
form{ margin:0px; padding:0px;}
a{ text-decoration:none;color:#333333;}
a:hover{color:#0000FF; text-decoration:underline;}
ul{ list-style-type:none;}
ul,li{ margin:0px; padding:0px;}
h1{ margin:0px 0px 5px 0px; padding:0px; font-size:20px; color:#000; text-align:center;}
h3{ margin:0px; padding:0px; font-size:14px; color:#34A2BA; text-align:center}
h4{ margin:0px; padding:0px;font-size:14px; color:#FFFFFF;}
.top{ height:25px; border:1px solid #C8E5ED; background:url(../images/top_bj.jpg) repeat-x;}
.top_left{ font-size:12px; width:300px; float:left; padding:0px 0px 0px 0px;}
.top_mid{ font-size:12px; width:180px; float:left; padding:0px 0px 0px 0px;}
.SOU{ padding:7px; line-height:20px; font-size:16px; color:#0068A3; background:url(../images/SOU2.jpg);}
.frm-b{background:url(../images/search_dot.jpg) no-repeat #FFFFFF; height:21px; width:55px; border:0px; cursor:pointer;}
.frm-i{border:1px solid #CCC; height:18px; width:232px;}
.top_right{ font-size:12px; padding:5px 0px 0px 18px; width:500px;background:url(../images/top_img.jpg) no-repeat 0 6px; float:right;}
.top_right a{ margin-right:32px; }
.mtop{ margin-top:7px;}
.mtop2{ margin-top:0px;}
.nav{ height:35px; border:1px solid #0293AF; background-color:#BDDFE6; font-size:13px;}
.nav1{ height:33px; background:url(../images/nav_bj.jpg) repeat-x;margin:1px;  padding-left:15px;}
.nav1 li{ width:85px; height:33px; line-height:33px; float:left; background:url(../images/nav_line.jpg) no-repeat right; text-align:center;}
.nav1 li a{ width:85px; height:33px;color:#fff; display:block;}
.nav1 li a:hover{ background:url(../images/nav_img.jpg) no-repeat center 25px; color:#EEE; text-decoration:none;}
.nav1 span li{ background:none}
.flash-pic{ border:1px solid #A9ECFF; padding:1px; width:442px; height:254px; float:left;}
.guang{ border:1px solid #A9ECFF; padding:1px; width:443px; height:102px; text-align:center;}
.com{ margin-top:7px; float:left;}
.com-title{ width:26px; height:96px;background:url(../images/product_title.jpg) no-repeat; padding-left:6px; padding-top:20px; float: left;}
.com-list{ width:240px; padding:6px 7px 0px 7px; float:right;}
.com-list a{background:url(../images/li4.gif) no-repeat; padding-left:10px; width:225px; height:22px; overflow:hidden; display:block; line-height:22px;}
.news1{border:1px solid #A9ECFF;}
.news1-title{ width:444px; height:29px;background:url(../images/right_bj.gif);}
.news1_1{ width:116px; height:20px; background:url(../images/news_title2.jpg); padding:8px 0px 0px 29px; float:left;}
.news1_2{ float:right; width:27px; height:19px; padding:0px 10px 0px 0px;}
.newstop{width:420px; margin:7px 7px 0px 7px; padding:0px 7px; border-bottom:1px dotted #CCC;}
.newstop a{ color:#CC0000;}
.news2{ width:420px; padding:7px 7px 0px 7px; font-size:14px;}
.news2 li{ width:430px; line-height:22px; float:left;}
.news2 li a{width:289px; height:22px; float:left; display:block; overflow:hidden;}
.news2 li span{ float:left; color:#49A8BC; margin-right:7px;}
.news2 li font{ color:#999; font-size:12px; float:right;}
.news3_title{ width:230px; height:22px; background:url(../images/right_bj.gif); font-size:14px; color:#1A9BB7; padding:7px 0px 0px 17px;}
.news3_title img{ margin-right:7px;}
.news3{ padding:7px 7px 0px 7px;}
.news3 li a{ width:220px; height:22px; display:block; overflow:hidden; background:url(../images/li8.gif) no-repeat; padding-left:10px;}
.news4_title{ width:235px; height:22px; background:url(../images/right_bj.gif); font-size:14px; color:#1A9BB7; padding:7px 0px 0px 17px;}
.news4{ padding:7px 3px 0px 7px;}
.news4 li{ width:240px; line-height:22px; float:left;}
.news4 li a{width:195px; height:22px; float:left; display:block; overflow:hidden; background:url(../images/li8.gif) no-repeat; padding-left:10px;}
.news4 li font{ color:#666; font-size:12px; float:right;}
.gdimg{border: #99DBE9 1px solid; TEXT-ALIGN: center; padding:7px;}
.gdimg img{ border:1px solid #CCCCCC;}
.gdimg .divGD{ display:none;}
.gdimg div td{ padding-right:7px;}
.list-title{ width:313px; height:29px;background:url(../images/right_bj.gif);}
.list-name{ width:140px; height:29px; background:url(../images/title1.gif) no-repeat; float:left; padding-left:10px; line-height:29px;}
.list-more{ float:right; width:38px; height:20px; padding:9px 17px 0px 0px;}
.list-content{ width:299px; padding:7px;}
.list-content li{ line-height:22px; font-size:14px;}
.list-content li a{background:url(../images/li1.gif) no-repeat; padding-left:13px; height:25px; width:240px; float:left; overflow:hidden; display:block;}
.list-content li font{ color:#666; font-size:12px; float:right;}
.list-img{ font-size:12px; width:285px; height:75px; overflow:hidden; margin-bottom:7px;}
.list-img img{ float:left; border:1px solid #CCC; margin-right:7px;}
.link_title{ height:22px;background:url(../images/right_bj.gif); font-size:14px;padding:7px 0px 0px 13px; color:#2B98B3}
.left{border:1px solid #BFE0E9; padding:15px; color:#666; text-align:center;}
.zoom{ text-align:left; color:#333333; font-size:14px; line-height:170%; word-break: break-all; border-top:1px solid #CCC; padding-top:7px; margin-top:2px;}
.cccb{border:1px solid #CCC; padding:7px; text-align:left; float:left; margin-top:7px; width:645px;}
.cccb font{ font-size:12px;}
.cccb div{ background-color:#F5F5F5; color:#333333; border-bottom:1px solid #CCC; padding:5px 5px 0px 5px;}
.cccb input, .cccb textarea{ margin-top:5px;}
.cccb li{ width:640px; line-height:22px; font-size:14px; float:left;}
.cccb li a{ width:440px; height:22px; display:block; overflow:hidden; background:url(../images/li1.gif) no-repeat; padding-left:10px; float:left;}
.right{ border:1px solid #BFE0E9; background-color:#F5F5F5; padding:2px;}
.menu{ width:250px; padding-top:7px; *padding-bottom:8px; font-size:13px; float:left;}
.menu li{ width:111px; height:31px;border:1px solid #C8E5ED; float:left; margin-left:7px; margin-bottom:8px;background:url(../images/list_bj.gif); text-align:center; line-height:31px; display:inline}
.rtitle{width:242px; float:left; height:21px; background:url(../images/right_bj.gif); font-size:14px; color:#1A9BB7; padding:8px 0px 0px 8px; margin-bottom:2px;}
.rtitle img{ margin-right:5px;}
.rlist li a{ width:230px; height:22px; display:block; overflow:hidden; background:url(../images/li8.gif) no-repeat; margin-left:7px; padding-left:10px;}
.mlist-bj{ width:660px; height:29px; background:url(../images/right_bj.gif); text-align:left;}
.mlist-name{width:135px; height:20px; background:url(../images/news_title1.jpg); padding:8px 0 0 29px; float:left;}
.mlist-more{text-align:right; width:38px; height:19px; padding:10px 20px 0px 0px; float:right;}
.mlist-text{ width:660px; float:left; border:1px solid #CCCCCC; text-align:left; margin-bottom:7px;}
.mlist-text ul{ margin:7px;}
.mlist-text ul .list{ width:635px; float:left; line-height:32px;}
.mlist-text ul .list_des{ width:635px; float:left;overflow:hidden; display:block; margin-bottom:3px;border-bottom:1px solid #CCCCCC; padding:0px 0 9px 0 ;color:#333333;}
.mlist-text ul .list a{ background:url(../images/li4.gif) no-repeat 0px 3px; padding-left:10px; height:28px; width:430px;font-weight:bold; line-height:32px; font-size:15px; float:left; overflow:hidden; display:block;color:#1D6F87;}
.mlist-text ul .list font{ float:LEFT; font-size:12px;}
.mlist-text li{ width:650px; line-height:22px; float:left; font-size:14px;}
.mlist-text li a{width:450px; height:22px; float:left; display:block; overflow:hidden; background:url(../images/li1.gif) no-repeat; padding-left:10px;}
.mlist-text li font{ color:#ccooo; font-size:12px; float:left;}
.mlist-text ul img{ border:2px solid #BFE0E9; padding:1px; margin-top:7px;}
.page_nav{ width:645px; margin-top:8px; margin-bottom:8px; line-height:28px; float:left;}
.page_nav a{border:1px solid #CCC; width:40px; line-height:22px; padding-top:2px; margin-right:2px; display:block; float:left; text-align:center;}
.thisPageNav{text-align:center; font-size:12px;}
.thisPageNav a, .thisPageNav strong{border:1px solid #CCC; padding:5px 5px 2px 5px;}
.link_centen{ padding:7px; line-height:22px; font-size:13px;color:#CCC}
.link_centen span{ margin:0px 5px; color:#CCC;}
.link_centen2{ padding:7px; line-height:22px; font-size:14px;}
.xinxi{ color:#333333;}
.xinxi a{ color:#CC0000;}
.kong{ padding:3px; line-height:2px; font-size:4px; color:#ffffff;}


.foot1{ width:958px; margin-top:8px; border:1px solid #C3DAEE; background-color:#C3DAEE; text-align:center; padding:8px 0px 5px 0px; float:left;}
.foot{border-top:2px solid #BFE0E9; text-align:center; padding:7px; line-height:200%;}