.nbw-mbox .mfc00{color:#7f8891;}
.nbw-mbox .mfc01{color:#b0b0b0;}
.nbw-mbox .mfc02{color:#8ad5ea;}
.nbw-mbox .mbdc0{border-color:#242628;}
.nbw-mbox .mbdc1{border-color:#7f8891;}
.nbw-mbox .mbgc0{background-color:#242628;}
.nbw-mbox .mbgc1{background-color:#474c50;}
.nbw-mbox .mbgc2,
.nbw-mbox .mbgc9:hover,
.nbw-mbox .mbgc9.js-mbgc9-hover{background-color:#293d45;}
.nbw-mbox .mbg{background-image:url(img/background.gif);}
.nbw-mbox .mbg0{background-image:url(img/player_16.gif);}
.nbw-mbox .mbg1{background-image:url(img/player_17.gif);}
.nbw-mbox .mbg2{background-image:url(img/list_line.gif);}
.nbw-mbox .mbg3{background-image:url(img/loading.gif);}
.nbw-mbox .mbg4{background-image:url(img/pausing.gif);}
.nbw-mbox .mbg5{background-image:url(img/playing.gif);}
.nbw-mbox .mbg6{background-image:url(img/stopping.gif);}
.nbw-mbox .mbg7{background-image:url(img/yes.gif);}
.nbw-mbox .tr0 .mbgh{background-image:url(img/player_02.gif);}
.nbw-mbox .tr1 .mbgh{background-image:url(img/player_06.gif);}
.nbw-mbox .tr4 .mbgh{background-image:url(img/player_23.gif);}
.nbw-mbox .tr4 .mbgh .mbgh{background-image:url(img/timeline_1.gif);}
.nbw-mbox .tr5 .mbgh{background-image:url(img/player_29.gif);}